.content {
  content: "";
  width: 100%;
  height: 100%;
  max-height: 80px;
  min-height: 80px;
  background-color: var(--primaria);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-banner {
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
}

.main-banner video {
  width: 100%;
  height: auto;
  max-height: 650px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
  object-fit: fill;
}

.services {
  max-width: 900px;
  width: 900px;
  height: 100%;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  list-style: none;
  margin-bottom: 50px;
}

.services h1 {
  color: var(--primaria);
  font-size: 2rem;
  font-weight: 600;
}

.services p {
  color: var(--terciaria);
  font-size: 3rem;
  font-weight: 600;
}

.machines {
  width: 100%;
  max-width: 900px;
  height: 100%;
}

.machines video {
  height: 450px;
  width: 450px;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
  border-radius: 1rem;
  object-fit: contain;
}

.bending,
.laser {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bending ul,
.laser ul {
  margin-left: 50px;
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.bending h2,
.laser h2 {
  color: var(--primaria);
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: start;
}

.bending p,
.laser p {
  color: var(--terciaria);
  font-size: 2rem;
  font-weight: 600;
  text-align: start;
}

.welding {
  /* margin-bottom: 50px; */

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}

.welding ul {
  margin-right: 50px;
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.welding h2 {
  color: var(--primaria);
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: end;
}

.welding p {
  color: var(--terciaria);
  font-size: 2rem;
  font-weight: 600;
  text-align: end;
}

.iso {
  margin-bottom: 50px;
  height: 400px;
  min-height: 100%;
  width: 100%;
  background: transparent url(../media/iso-bg.png) no-repeat center center;
  background-size: cover;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

  display: flex;
  justify-content: center;
  align-items: center;
}

.iso ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  list-style: none;
  width: 25%;
}

.iso h2 {
  color: var(--primaria);
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.iso p {
  color: var(--secundaria);
  font-size: 1.5rem;
  font-weight: 600;
}

.iso img {
  height: 150px;
  width: 150px;
  margin-right: 50px;
  background-color: var(--secundaria);
  border-radius: 50%;
}

.aboutus {
  height: auto;
  width: 900px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.aboutus video {
  height: 100%;
  width: 500px;
  margin-bottom: 25px;
  border-radius: 1rem;
  padding: 30px 20px 30px 20px;
}

.aboutus ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutus h1 {
  color: var(--primaria);
  font-size: 2rem;
  font-weight: 600;
}

.aboutus p {
  color: var(--terciaria);
  font-size: 3rem;
  font-weight: 600;

  margin-bottom: 50px;
}

.aboutus-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aboutus-text ul {
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.aboutus-text li {
  margin-bottom: 25px;
  color: var(--terciaria);
  font-size: 1.6rem;
  font-weight: 600;
}

.maps {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 900px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.maps-tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.maps-tittle h1 {
  color: var(--primaria);
  font-size: 2rem;
  font-weight: 600;
}

.maps-tittle p {
  color: var(--terciaria);
  font-size: 3rem;
  font-weight: 600;

  margin-bottom: 50px;
}

.maps iframe {
  margin-right: 25px;
  border-radius: 1rem;
}

.maps ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.maps li {
  font-size: 1.5rem;
  color: var(--terciaria);
  font-weight: 600;
}

.contact {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.contact-text h1 {
  font-size: 4.5rem;
  color: var(--primaria);
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-text h2 {
  font-size: 2rem;
  color: var(--terciaria);
  font-weight: 600;
  margin-bottom: 50px;
}

.contact-text ul {
  list-style: none;
}

.contact-text li {
  margin-bottom: 10px;
  color: var(--terciaria);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.contact-text a {
  text-decoration: none;
  color: var(--terciaria);
}

.contact-text svg {
  margin-right: 10px;
}

form {
  width: 60%;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  font-size: 1.8rem;
  color: var(--terciaria);
  font-weight: 600;
}

.input-group input {
  margin-top: 5px;
  padding: 5px 5px;
  font-size: 2rem;
  border: 1px solid var(--terciaria);
  border-radius: 1rem;
}

button[type="submit"] {
  opacity: 0.8;
  border: none;
  background-color: var(--primaria);
  color: var(--secundaria);
  padding: 10px 20px;
  font-size: 3rem;
  width: 100%;
  border-radius: 1rem;
  margin-top: 10px;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

button[type="submit"]:hover {
  opacity: 1;
  transition: 0.2s;
  scale: 1.02;
  cursor: pointer;
}

textarea {
  resize: none;
}

footer {
  display: flex;
  justify-content: center;
}

.footer-content {
  background-color: var(--terciaria);
  width: 100%;
  padding: 10px 25px 50px 25px;
  border-top: 25px solid rgb(19, 19, 19);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: var(--secundaria);
  font-weight: 600;
  margin-left: -35px;
}

.footer-logo img {
  height: 30px;
  width: auto;
  margin-right: 5px;
}

.footer-cnpj {
  font-size: 1.3rem;
  color: var(--secundaria);
}

.footer-copyright {
  font-size: 1rem;
  color: var(--secundaria);
}

@media screen and (max-width: 1200px) {
  .main-banner video {
    width: 100%;
  }

  .bending ul,
  .laser ul {
    margin-left: 25px;
    margin-bottom: 0px;
  }

  .bending h2,
  .welding h2,
  .laser h2 {
    font-size: 7rem;
  }

  .machines p {
    font-size: 4rem;
  }

  .welding ul {
    margin-right: 25px;
    margin-bottom: 0px;
  }

  .services,
  .iso,
  .aboutus,
  .maps,
  .contact {
    width: 95%;
  }

  .machines video {
    width: 50%;
    height: 50%;
  }

  .iso img {
    width: 25%;
    max-width: 100px;
    height: auto;
    margin: 0px;
    margin-bottom: 10px;
  }

  .iso {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .iso ul {
    width: 85%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iso h2 {
    margin-bottom: 5px;
    font-size: 5rem;
    color: var(--secundaria);
  }

  .iso p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5rem;
  }

  .aboutus p {
    margin-bottom: 0px;
  }

  .aboutus video {
    width: 50%;
    height: auto;
    margin: 0px;
    margin-bottom: 25px;
  }

  .aboutus-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutus-text ul {
    margin: 0px;
    width: 95%;
    max-width: 800px;
  }

  .aboutus-text li {
    font-size: 2.5rem;
    word-wrap: break-word;
  }

  .maps {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 50px;
  }

  .maps iframe {
    width: 100%;
    height: 400px;
    margin: 0px;
    margin-bottom: 0px;
    margin-top: 50px;
  }

  .funcionamento li {
    font-size: 3rem;
    text-align: center;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-text {
    text-align: center;
  }

  .contact-text h2 {
    font-size: 3rem;
    margin-bottom: 25px;
  }

  .contact-text ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
  }

  .contact-text li {
    font-size: 3rem;
  }

  form {
    width: 95%;
  }

  .footer-logo {
    margin-left: -12px;
  }

  .footer-logo img {
    height: 20px;
    margin-right: 2px;
  }

  .footer-content {
    border-top: 15px solid rgb(19, 19, 19);
  }
}

@media screen and (max-width: 767px) {
  .bending h2,
  .welding h2,
  .laser h2 {
    font-size: 4rem;
  }

  .machines p {
    font-size: 2rem;
  }

  .maps iframe {
    max-width: 400px;
    height: 250px;
    margin: 0px;
    margin-bottom: 0px;
    margin-top: 50px;
  }
}
